body {
  font-family: "Poppins", sans-serif;
  background-color: #877f7d;
  font-size: 16px;
}

/* NAVBAR */
.navbar-brand {
  font-weight: 700;
  font-size: 20px;
}

.nav-link {
  font-size: 16px;
}

.nav-link-activer {
  font-weight: 700;
}

.button-primary {
  width: 133px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

/* SLIDER */
.d-block {
  max-height: 750px;
  max-width: 1600px;
}

/* Resep Populer */
section {
  padding-top: 5rem;
}

h1 {
  color: #fff;
}

.text {
  color: #fff;
}

.card-text {
  font-size: 14px;
}

/* Tempat Rekomendasi */
.tempat {
  color: #fff;
}

.coba {
  background-color: transparent;
}

footer {
  padding: 5px;
  background-color: #ffeab1;
  text-align: center;
}

/* Blog */
.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(gambar1.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero > * {
  display: none;
}

.features {
  background-color: #000;
  color: #fff;
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(gambar2.jpg);
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(gambar3.jpg);
  background-size: cover;
}

.features .item {
  font-size: 2em;
  font-weight: 200;
}

/* About */
.banner {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("a.jpg");
  background-size: cover;
  background-position: center;
}

.banner-content {
  height: 100%;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

.jajankuy {
  background-color: #ffeab1;
}

/* Contact */
.icon {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Responsive Breakpoint */
@media (max-width: 1024px) {
  .hero > * {
    display: block;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
}
